@import '../../../../shared/styles/colors.scss';

.homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h1 {
    color: $primary-grey;
    padding-bottom: 2rem;
  }
}
