@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.word-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: pxToEm(1) solid $primary-grey;
  border-radius: pxToEm(3);
  font-size: 2rem;
  font-weight: 500;
  color: $primary-grey;
  background-color: transparent;
}

.word-box-wrong {
  background-color: $secondary-grey;
  border: none;
  color: $primary-black;
  animation: flip-horizontal-bottom 0.5s;
}

.word-box-green {
  background-color: $primary-green;
  border: none;
  color: $primary-black;
  animation: flip-horizontal-bottom 0.5s;
}

.word-box-yellow {
  background-color: $yellow;
  border: none;
  color: $primary-black;
  animation: flip-horizontal-bottom 0.5s;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
